body{
    background-image: linear-gradient(90deg, rgb(8, 143, 233), rgb(207, 47, 199));
}
h2{
    color: white !important;
}
h4{
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}
img{

    max-width: 650px;
    max-height: 800px;
}
.container{
    display: block;
    align-items: center;
    margin-bottom: 15%;
}
*{
    
}